<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <div id="cta-with-header" style="letter-spacing: 0.02rem; font-size: 1.2rem;line-height:2rem;color:#65665d;" class="text-center">
        {{ section.settings.text }}
        <a href="{{section.settings.link.url}}" class="btn btn-success cta-button mt-3">{{ section.settings.button-label | escape }}</a>
      </div>
    </div>
  </div>
  
</div>

{% stylesheet %}
  #cta-with-header .cta-button {
    text-transform:uppercase;
    padding: .8rem 0;
    min-width: 400px;
    background-color: #76bc21;
    border-color:#76bc21;
    font-weight: 500;
    border-radius: .5rem;
    font-size: 1.2rem;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Featured Text",
  "class":"cta-with-header",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "CTA Title"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>Call to action text.</p>"
    },
    {
      "type": "text",
      "id": "button-label",
      "label": "Button Label",
      "default": "Do Someething"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Link",
      "info": "Optional"
    }
  ],
  "presets": [
    {
      "category": "Something",
      "name":"Call to Action"
    }
  ]
}
{% endschema %}