<div class="container mt-5">
  
  <div class="text-center" style="margin-top: 15rem; margin-bottom: 5rem;">
    <p style="color: #0069a7; letter-spacing: 0.07rem;font-size: calc(2rem + .9vw); font-weight: 500;">{{ section.settings.title | escape }}</p>
  </div>

  {%- if section.blocks.size > 0 -%}
    <div class="container">
      {%- for block in section.blocks -%}
        <div class="row">
          <div class="col">
            <div class="title">{{ block.settings.title | escape}}</div>
            <div class="answer">{{ block.settings.answer }}</div>
          </div>
        </div>

        
      {%- endfor -%}
    </div>
  {%- endif -%}

  {% style %}
  .faq-list .title {
    font-weight: 700;
    color: #1f1f1f;
  }
  .faq-list .title:before {
    content: ' ';
    background-image: url(//cdn.shopify.com/s/files/1/0534/5004/7683/t/7/assets/faq-question-image.png?v=1834351…);
    background-repeat: no-repeat;
    background-position: 1px 4px;
    background-size: 12px;
    padding-right: 24px;
  }
  .faq-list .answer {
    font-weight: 400;
    color: #65665d;
    margin-top:10px;
    line-height:30px
  }
  
  {% endstyle %}


{% schema %}
{
  "name": "FAQ",
  "tag": "section",
  "class": "faq-list",
  "settings": [{
    "type": "text",
    "id": "title",
    "label": "FAQ"
  }],
  "blocks": [{
    "name": "Question",
    "type": "question",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Queston",
        "default": "What is...?"
      },
      {
        "type": "richtext",
        "id": "answer",
        "label": "Answer",
        "default": "<p>Answer is..</p>"
      }
      
    ]
  }],
  "presets": [{
    "name": "FAQ",
    "settings": {
      "title": "FAQ"
    },
    "blocks": [{
        "type": "question",
        "settings": {
          "title": "Why is the sky blue",
          "answer": "<p>don't know</p>"
        }
      },
      {
        "type": "question",
        "settings": {
          "title": "Why did chicken cross road",
          "answer": "<p>don't know</p>"
        }
      }
    ]
  }]
}
{% endschema %}