<div class="container">

  {%- if section.settings.title != blank -%}
  <div class="text-center mb-4">
    <p>{{ section.settings.title | escape }}</p>
  </div>
  {%- endif -%}

  {%- if section.blocks.size > 0 -%}
    <div class="container">
      {%- for block in section.blocks -%}
        <div class="row">
          <div class="col">
            <div class="title">{{ block.settings.title | escape}}</div>
            <div class=" mt-3">{{ block.settings.answer }}</div>
          </div>
        </div>
      {%- endfor -%}
    </div>
  {%- endif -%}

  {% style %}
  .faq-list .title {
    font-weight: var(--theme-primary-heading-font-weight);
  }
  .faq-list .title:before {
    content: ' ';
    background-image: url({{'faq-question-image.png'|asset_url}});
    background-repeat: no-repeat;
    background-position: 1px 4px;
    background-size: 12px;
    padding-right: 24px;
  }
  
  {% endstyle %}


{% schema %}
{
  "name": "FAQ",
  "tag": "section",
  "class": "faq-list",
  "settings": [{
    "type": "text",
    "id": "title",
    "label": "FAQ"
  }],
  "blocks": [{
    "name": "Question",
    "type": "question",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Queston",
        "default": "What is...?"
      },
      {
        "type": "richtext",
        "id": "answer",
        "label": "Answer",
        "default": "<p>Answer is..</p>"
      }
      
    ]
  }],
  "presets": [{
    "name": "FAQ",
    "settings": {
      "title": "FAQ"
    },
    "blocks": [{
        "type": "question",
        "settings": {
          "title": "Why is the sky blue",
          "answer": "<p>don't know</p>"
        }
      },
      {
        "type": "question",
        "settings": {
          "title": "Why did chicken cross road",
          "answer": "<p>don't know</p>"
        }
      }
    ]
  }]
}
{% endschema %}