<div class="container mb-5">
  <div class="row">
    <div class="col-0 col-sm-1"></div>
    <div class="col-12 col-sm-10">
      <div class="d-flex" style="margin: 100px 0px;">
        <div>
          <img src="{{'quotes-open.png' | asset_url}}" loading="lazy" style="max-height: min(10vw, 100px);margin-top:-45px; padding-right:20px;" alt="begin quote">
        </div>
        <div>
          <div class="d-inline quote">{{ section.settings.text | escape }}&nbsp;&nbsp;&nbsp;
        </div>
        <div class="d-inline">
          <img src="{{'quotes-close.png' | asset_url}}" loading="lazy"  style="position:absolute;z-index:-1;  max-height: min(10vw, 100px);margin-top:-10px;margin-left:-10px;"  alt="end quote">
        </div>
        </div>
        
      </div>
    </div>
    <div class="col-0 col-sm-1"></div>
  </div>
  <div class="row">
    <div class="col-12 text-end">
      <p class="attribution">—{{ section.settings.title | escape }}</p>
    </div>
  </div>
</div>

{% stylesheet %}
.featured-quote .quote {
  vertical-align: middle;
  font-size: min(calc(1rem + .9vw), 1.7rem);
  color: #65665d;
  line-height:calc(1.9rem + .9vw);
}

.featured-quote .attribution {
  color: #71ba3c; 
  letter-spacing: 0.09rem;
  font-size: min(calc(1.2rem + .9vw), 1.7rem);
  font-weight: 500;
}

{% endstylesheet %}


{% schema %}
{
  "name": "Featured Quote",
  "class": "featured-quote",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Attribution",
      "default": "Who Said It"
    },
    {
      "type": "textarea",
      "id": "text",
      "label": "Quotation",
      "default": "Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store."
    }
  ],
  "presets": [
    {
      "category": "Something",
      "name":"Featured Quote"
    }
  ]
}
{% endschema %}