<div class="container mb-5">
  <div class="text-center">
      <div class="d-inline-block mb-5" style="max-width:{{ section.settings.max-width }}px;">
        {%- if section.settings.image != blank -%}
          <img 
            src="{{ section.settings.image | img_url: '1070x' }}"
            alt="{{ section.settings.image.alt | escape }}"
            class="img-fluid" style="min-width:100%;"
          >
        {%- else -%}
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        {%- endif -%}
      </div>

  </div>
  
</div>

{% stylesheet %}

{% endstylesheet %}
{% style %}



{% endstyle %}

{% schema %}
{
  "name": "Image",
  "class":"image-section",
  "settings": [

    { 
      "type": "image_picker",
      "id":"image",
      "label": "Featured Image"
    },
    { 
      "type": "number",
      "id":"max-width",
      "label": "Max Width(px)"
    }
  
  ],
  "presets": [
    {
      "category": "Something",
      "name":"Image"
    }
  ]
}
{% endschema %}