{%- if page.title != blank -%}
<div class="container mb-5">
  <div class="text-center" style="padding-top: 5vw;">
    <p class="page-heading" style="color: #0069a7;">{{ page.title | escape }}</p>
  </div>
</div>
{%- endif -%}
<div class="container mb-5">
  {{ page.content }}
</div>