{% assign current_variant = product.selected_or_first_available_variant %}
<div class="container" style="margin-top: 10rem;margin-bottom:5rem;">
  <div class="row">
    <div class="col col-4 col-lg-5">
      {% assign featured_image = current_variant.featured_image | default: product.featured_image %}
      {%- if featured_image -%}
        <img src="{{ featured_image | img_url: 'large' }}" alt="{{ featured_image.alt | escape }}" class="img-fluid" id="ProductPhotoImg" loading="lazy">
      {%- else -%}
        {{ 'collection-1' | placeholder_svg_tag: 'img-fluid' }}
      {%- endif -%}
    </div>
    <div class="col col-8 col-lg-7">
      <div class='product-description'>{{ product.description }}</div>
      <button class="btn mt-5 mb-3">Login or Create Account</button>
      <div>An account is required to view pricing</div>
    </div>
  </div>
</div>

{% stylesheet %}
  .product-section .product-description h1, 
  .product-section .product-description h2, 
  .product-section .product-description h3, 
  .product-section .product-description h4, 
  .product-section .product-description h5, 
  .product-section .product-description h6 {
    color: #0069a7;
    font-weight: 700;
    text-transform: uppercase;
  }

  .product-section {
    font-size: .8rem;
  }
  .product-section .btn  {
    min-width: 10rem;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #76bc21;
    border-color: #76bc21;
    color: white;
  }
  
 
  .product-section .nav-link {
    color: #65665d;
    font-weight: 700;
    text-transform: uppercase;
  }
  .product-section .nav-link.active {
    color: #0069a7;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Product Details",
  "tag": "section",
  "class": "product-section",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "title",
      "name": "Title",
      "limit": 1
    },
    {
      "type": "description",
      "name": "Description",
      "limit": 1
    },
    {
      "type": "product-details",
      "name": "Product Details",
      "limit": 1
    }
  ]
}
{% endschema %}