<div class="container">
  <div class="image-block text-center" style="padding-top: 5vw;">
    <p style="color: #0069a7; letter-spacing: 0.07rem;font-size: calc(1.5rem + .9vw); font-weight: 500;">{{ section.settings.title | escape }}</p>
  </div>


  {%- if section.blocks.size > 0 -%}
    <div class="container mt-5">
      {%- for block in section.blocks -%}
        <div class="row">
          <div class="col">
            <div class="title">{{ block.settings.title | escape}}</div>
            <div class="answer">{{ block.settings.content }}</div>
          </div>
        </div>

        
      {%- endfor -%}
    </div>
  {%- endif -%}
</div>


{% schema %}
{
  "name": "Product Details",
  "tag": "section",
  "class": "product-details",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Product Details"
    }
  ],
  "blocks": [{
    "name": "Tab",
    "type": "tab",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Tab Name"
      },
      {
        "type": "html",
        "id": "content",
        "label": "Tab Content"
      }
    ]
  }]
}
{% endschema %}