<div class="container mb-5">
  
  {%- if section.settings.title != blank -%}
  <div class="text-center mb-4">
    <p>{{ section.settings.title | escape }}</p>
  </div>
  {%- endif -%}

  {%- if section.blocks.size > 0 -%}
    <div class="container">
      {%- for block in section.blocks -%}
        {%- if block.settings.title != blank or block.settings.role != blank -%}
        <div class="row">
          <div class="col">
            {%- if block.settings.title != blank -%}
            <div class="title d-inline-block">{{ block.settings.title | escape}}</div>
            {%- endif -%}
            {%- if block.settings.role != blank -%}
            <div class="role d-inline-block ms-3 ps-3">{{ block.settings.role | escape}}</div>
            {%- endif -%}
          </div>
        </div>
        {%- endif -%}
        {%- if block.settings.bio != blank -%}
        <div class="row">
          <div class="col">
              <div class="mt-3">{{ block.settings.bio }}</div>
          </div>
        </div>
        {%- endif -%}
      {%- endfor -%}
    </div>
  {%- endif -%}

  {% style %}

  .staff-list .title {
    font-weight: var(--theme-primary-heading-font-weight);
  }
  .staff-list .role {
    font-weight: var(--theme-secondary-heading-font-weight);
    border-left: 3px solid var(--theme-color-secondary);
  }
  
  {% endstyle %}


{% schema %}
{
  "name": "Staff List",
  "tag": "section",
  "class": "staff-list",
  "settings": [{
    "type": "text",
    "id": "title",
    "label": "Staff List"
  }],
  "blocks": [{
    "name": "Staff Member Detail",
    "type": "staff_detail",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Name",
        "default": "Staff Member Name"
      },
      {
        "type": "text",
        "id": "role",
        "label": "Role",
        "default": "Title or Role"
      },
      {
        "type": "richtext",
        "id": "bio",
        "label": "bio",
        "default": "<p>Bio or History</p>"
      }
    ]
  }],
  "presets": [{
    "name": "Staff List",
    "settings": {
      "title": "Staff List"
    },
    "blocks": [{
        "type": "staff_detail",
        "settings": {
          "title": "John Doe1",
          "role": "CEO1",
          "bio": "<p>started companay</p>"
        }
      },
      {
        "type": "staff_detail",
        "settings": {
          "title": "John Doe2",
          "role": "CEO2",
          "bio": "<p>started companay</p>"
        }
      }
    ]
  }]
}
{% endschema %}