{% assign videoId = section.settings.video_url | split: '?v=' %}

<div class="container mb-5" style="margin-bottom:12rem">

  <div class="text-center">
    <p style="color: #0069a7; letter-spacing: 0.09rem;font-size: calc(2rem + .9vw); font-weight: 100;">{{ section.settings.title | escape }}</p>
  </div>

 <div class="ratio ratio-16x9 video-player mt-4">
   <iframe title="video" src="https://www.youtube.com/embed/{{ videoId[1] }}?modestbranding=1&rel=0" allow="autoplay; encrypted-media;" allowfullscreen></iframe>
 </div>

</div>
{% stylesheet %}
  .video-player {
    box-shadow: 0 0 30px rgba(0,0,0, 40%);
  }
{% endstylesheet %}


{% schema %}
{
  "name": "Video Player",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Video Player"
    },
    {
      "type": "video_url",
      "id": "video_url",
      "label": "Video URL",
      "accept": ["youtube", "vimeo"],
      "info": "text",
      "placeholder": "text",
      "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
    }
  ],
  "presets": [
  {
    "category": "Something",
    "name":"Video Player"
  }
  ]
}
{% endschema %}

