{% assign videoId = section.settings.video_url | split: '?v=' %}

<div class="container mb-5">

  <div class="text-center header">
    {{ section.settings.title | escape }}
  </div>

 <div class="ratio ratio-16x9 video-player mt-4">
   <iframe title="video" src="https://www.youtube.com/embed/{{ videoId[1] }}?modestbranding=1&rel=0" allow="autoplay; encrypted-media;" allowfullscreen></iframe>
 </div>

</div>
{% stylesheet %}
  .video-player .header {
    color: #0c5fa1;
    font-weight:500;
    font-size: min(calc(1.2rem + .9vw), 1.7rem);
    margin-bottom: .7rem;
	margin-top:8rem;
  }
  .video-player {
    box-shadow: 0 0 30px rgba(0,0,0, 40%);
  }
{% endstylesheet %}


{% schema %}
{
  "name": "Video Player",
  "class": "video-player",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Video Player"
    },
    {
      "type": "video_url",
      "id": "video_url",
      "label": "Video URL",
      "accept": ["youtube", "vimeo"],
      "info": "text",
      "placeholder": "text",
      "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
    }
  ],
  "presets": [
  {
    "category": "Something",
    "name":"Video Player"
  }
  ]
}
{% endschema %}

