
:root{
  --theme-color-primary: rgb(0, 105, 167);
  --theme-color-secondary: rgb(118, 188, 33);
  --theme-color-body-heading: rgb(35,31,32);
  --theme-color-body-text: rgb(101,102,92);

  --theme-primary-heading-font-weight: 700;
  --theme-secondary-heading-font-weight: 500;
  --theme-body-font-weight: 400;
}

body {
  font-family: var(--font-stack-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-weight: var(--theme-body-font-weight);
  color:var(--theme-color-body-text);
  line-height:30px
} 

a {
  color: var(--theme-color-primary);
  text-decoration: none;
}
a:hover {
  color: rgb(0,126,200);
}
a:visited {
  color: rgb(0,94,152);
}


.page-heading {
  letter-spacing: 0.07rem;
  font-size: calc(1.5rem + .9vw); 
  font-weight: 500;
  text-transform: uppercase;
}
.page-subheading {
  letter-spacing: 0.07rem;
  font-size: calc(.8rem + .9vw); 
  font-weight: 500;
}

.btn-primary {
  font-weight: var(--theme-primary-heading-font-weight);
  text-transform: uppercase;
  background-color: var(--theme-color-secondary);
  border-color: var(--theme-color-secondary);
}
a.btn-primary {
  color: white;
}
.btn-primary:hover {
  font-weight: var(--theme-primary-heading-font-weight);
  text-transform: uppercase;
  background-color: var(--theme-color-primary);
  border-color: var(--theme-color-primary);
}


.content-wrapper {
  margin-left: auto;
  margin-right: auto;
}
.content-section-wrapper {
  margin-top: 107px;
}

@media (max-width: 992px) {
  .content-section-wrapper {
    margin-top: 67px;
  }
}

.content-body-wrapper {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  background-color:var(--theme-color-body-text);
  color: #ffffff;
  font-family: var(--font-stack-footer);
  font-size: .8rem;
} 

sup {
  top: -1em;
  font-size: .5rem;
  margin-left: .1rem;
}

ul {
  padding-left: .9rem;
}


/* SHOPIFY POLICY PAGES */

div.shopify-policy__container {
  width: 100%;
  padding-right: var(--bs-gutter-x,.75rem);
  padding-left: var(--bs-gutter-x,.75rem);
 
}
div.shopify-policy__title {
  padding-top: 5vw;
  margin-bottom: 3rem;
  letter-spacing: .07rem;
  font-size: calc(1.5rem + .9vw);
  font-weight: 500;
  text-transform: uppercase;
  color: #0069a7;
}
div.shopify-policy__body h1 {
  font-size: calc(1.3rem + .6vw);
}
div.shopify-policy__body h2 {
  font-size: calc(1.275rem + .3vw);
}
@media(min-width: 1200px) {
  div.shopify-policy__container {
    max-width: 1140px;
  }
  div.shopify-policy__body h1 {
    font-size: 1.75rem;
  }
  div.shopify-policy__body h2 {
    font-size: 1.5rem;
  }
}
@media(max-width: 992px) {
  div.shopify-policy__container {
    max-width: 960px;
  }
}
@media(max-width: 768px) {
  div.shopify-policy__container {
    max-width: 720px;
  }
}
@media(max-width: 576px) {
  div.shopify-policy__container {
    max-width: 540px;
  }
}